@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*, *:before, *:after {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

:root {
  --dark-blue: #222831;
  --med-blue: #393E46;
  --white: #EEEEEE;
  --primary-blue: #00ADB5;
  --lt-grey: rgba(0, 0, 0, 0.329);
}

body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

p {
  cursor: default;
}

li {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > button {
  cursor: pointer;
}

/* Main Page Layout */
.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% auto auto auto 5%;
  height: 100%;
}

/* Header Content */
.header {
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.329);
  z-index: 2;
}

.title {
  font-size: 5rem;
  color: var(--white);
  font-weight: 700;
}

/* Sidebar Content */
.sidebar {
  grid-column: 1 / span 2;
  grid-row: 2 / span 3;
  background-color: var(--med-blue);
  display: flex;
  flex-direction: column;
}

.nav-title {
  color: var(--white);
  border-bottom: 2px solid rgba(101, 101, 101, 0.827);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.nav-item {
  font-size: 2rem;
}

.new-project-btn {
  border: none;
  background: none;
  color: var(--white);
  font-size: 1.5rem;
  
}

.new-project-btn:hover {
  cursor: pointer;
  scale: 1.2;
}

.nav-btn {
  border: none;
  background: none;
  color: var(--white);
}

.nav-projects {
  display: flex;
  flex-direction: column;
}

.nav-menu-list {
  list-style: none;
  background-color: var(--med-blue);
  width: 100%;
  color: var(--white);
  margin-top: 10px;
}

.remove-btn {
  width: 25px;
  text-align: center;
  background: none;
  border: none;
  color:rgb(156, 156, 156);
}

.remove-btn:hover {
  scale: 1.2;
}

.nav-menu-list > li {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid rgba(101, 101, 101, 0.403);
  font-size: 1rem;
}

.active {
  background-color: var(--dark-blue);
  font-weight: 600;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.243) inset;
}

/* Main Section */
.list {
  grid-column: 3 / 13;
  grid-row: 2 / span 3;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.todo-container {
  /* width: 1500px; */
  background-color: var(--dark-blue);
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  flex-shrink: 1;
  padding: 2rem;
  margin-top: 30px;
  gap: 1rem;
}

.new-task-btn {
  border: none;
  background: none;
  font-size: 4rem;
  color: var(--white);
  height: auto;
  cursor: pointer;
}

/* To-Do Card */
.task {
  height: 50px;
  width: 500px;
  background-color: var(--med-blue);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.complete-btn {
  background: none;
  border: none;
}

.task-subject {
  color: var(--white);
  font-size: 1.2rem;
}

.due {
  color: var(--white);
  font-size: .8rem;
}

.task-icon {
  width: 25px;
  text-align: center;
  background: none;
  border: none;
  color:rgb(156, 156, 156);
}

.task-icon:hover {
  scale: 1.2;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.complete {
  text-decoration: line-through;
  background-color: #2d3137;
  color:rgb(101, 101, 101);
}

/* MODAL */

.new-proj-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: var(--dark-blue);
  z-index: 2;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 25px 30px 30px 30px;
  border-radius: 15px;
  border: 2px solid #2f3846;
}

.new-proj-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay.active {
  display: block;
}

.overlay {
  background-color:var(--lt-grey);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.new-project-input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--med-blue);
  color: var(--white);
  padding: 0px 5px 5px 5px;
  border: 2px solid #49515d;
}

.new-project-submit {
  padding: 15px 25px;
  background-color: var(--primary-blue);
  border: 2px solid var(--med-blue);
  border-radius: 10px;
}

.new-project-submit:hover {
  cursor: pointer;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.large {
  font-size: 24px;
  color: var(--white);
}

.close {
  color: var(--white);
  border: none;
  background: none;
  font-weight: 100;
}

.close:hover {
  cursor: pointer;
}

/* Footer Content */
.footer {
  grid-column: 1 / span 12;
  grid-row: 5 / span 1;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--med-blue);
  box-shadow: 0px -5px 7px 0px var(--lt-grey);
  z-index: 3;
}